<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pack Perks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- tostify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
<header class="header-area header-in-container clearfix">
    <div class="header-top-area">
        <div class="container">
            <div class="header-top-wap">
                <div class="language-currency-wrap">
                    <div class="same-language-currency language-style">
                        <a href="#">English <i class="fa fa-angle-down"></i></a>
                        <div class="lang-car-dropdown">
                            <ul>
                                <li><a href="#">Arabic </a></li>
                                <li><a href="#">Bangla </a></li>
                                <li><a href="#">Hindi  </a></li>
                                <li><a href="#">Spanish </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="same-language-currency use-style">
                        <a href="#">USD  <i class="fa fa-angle-down"></i></a>
                        <div class="lang-car-dropdown">
                            <ul>
                                <li><a href="#">Taka (BDT) </a></li>
                                <li><a href="#">Riyal (SAR) </a></li>
                                <li><a href="#">Rupee (INR)  </a></li>
                                <li><a href="#">Dirham (AED) </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="same-language-currency">
                        <p>Call Us 3965410</p>
                    </div>
                </div>
                <div class="header-offer">
                    <p>Free delivery on order over <span>$200</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar header-res-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="/">
                            <img style="max-width: 200px;" alt="" src="/assets/img/logo/logos.png">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="/">Home <i class=""></i></a>
                                    
                                </li>
                                <li><a href="/shop"> Shop <i class=""></i> </a>
                                   
                                </li>
                               
                               
                                <li><a href="/about"> About </a></li>
                                <li><a href="/contact"> Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                       <div class="header-right-wrap">
                        
                        <div class="same-style account-satting">
                            <!-- <div class="account-dropdown">
                                <ul>
                                    <li><a href="login-register.html">Login</a></li>
                                    <li><a href="login-register.html">Register</a></li>
                                    <li><a href="wishlist.html">Wishlist  </a></li>
                                    <li><a href="my-account.html">my account</a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="same-style header-wishlist">
                            <a href="/wishlist"><i class="pe-7s-like"></i></a>
                        </div>
                        <div class="same-style cart-wrap">
                            <button class="icon-cart">
                                <i class="pe-7s-shopbag"></i>
                                <!-- <span class="count-style"></span> -->
                            </button>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="/">HOME</a>
                               
                            </li>
                            <li><a href="/shop">Shop</a>
                               
                            </li>
                           
                            <li><a href="/about">About us</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Cart Page </li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-main-area pt-90 pb-100">
    <div class="container">
        <% if (user.cart.product.length === 0) { %>
            <h1  style="text-align: center; background-color: rgb(223, 228, 228); font-weight: 800;padding:10% 0 10% 0;">Your cart is empty</h1>
        <% } else { %>
        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% user.cart.product.forEach(item=>{%>

                                
                                <tr data-product-id="<%= item.productId %>">
                                    <td class="product-thumbnail">
                                        
                                        <a href="#"><img style="height: 100px; width: 100px;" src="<%=item.productImage[0]%>" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#"><%=item.productName%></a></td>
                                    <td class="product-price-cart"><span class="amount"><%=item.productPrice%></span></td>
                                    <td class="product-quantity">
                                        <div class="quantity-control" style="display: flex; justify-content: center; align-items: center;">
                                            <button class="btn btn-sm btn-plus bg-light border mt-4" style="width:30px; height:30px;" onclick="quantityMinus('<%=item.productId %>')">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <span id="quantity_<%= item.productId %>" style="margin: 15px 10px 0 10px ;"><%= item.quantity %></span>
                                            <button class="btn btn-sm btn-plus bg-light border mt-4" style="width:30px; height:30px;" onclick="quantityPlus('<%=item.productId %>')">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td id="subtotal_<%= item.productId %>" class="product-subtotal"> ₹ <%=(item.productPrice*item.quantity)%></td>
                                    <!-- <form action="/removeFromCart/<%=item.productId%>" method="post"> -->
                                    <td class="product-remove">
                                        <!-- <a href="#"><i class="fa fa-pencil"></i></a> -->
                                        <button type="button" onclick="removeFromCart('<%=item.productId%>')" ><i class="fa fa-times" style="color: red;"></i> </button>
                                   </td>
                                <!-- </form> -->
                                </tr>
                                <%})%>
                                
                               
                            </tbody>
                        </table>
                    </div>
                   
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="/shop">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <!-- <button>Update Shopping Cart</button> -->
                                    <!-- <a href="#">Clear Shopping Cart</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                       
                    </div>
                    <div class="col-lg-4 col-md-6">
                        
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                           
                            <h4 class="grand-totall-title">Grand Total  <span id="cartTotalPrice" ><%=cartTotal%></span></h4>
                            <a href="/checkOutPage" onclick="checkCart(event)">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
 
<script>
//   const item=[]
function checkCart(event) {
    let tbody=document.querySelector('tbody')
    // Assuming you have a cartItems array that contains the items in the cart
    if (tbody.rows.length===0) {
        console.log(tbody.rows.length)
        Toastify({
            text: "Your cart is empty",
            duration: 3000, 
            close: true,
            gravity: "top", 
            position: 'center', 
            backgroundColor: "linear-gradient(to right, #ff416c, #ff4b2b)", 
            stopOnFocus: true, 
        }).showToast();
        event.preventDefault(); 
        
    }else{
        window.location.href='/checkOutPage'
    }
    
}




    function quantityPlus(productId){
        axios.post('/quantityPlus/'+productId)
        .then(response =>{
            console.log(response);
        if(response.status===200){
            const quantityElement=document.getElementById(`quantity_${productId}`)
            let quantity=parseInt(quantityElement.textContent)

            quantity++;
            quantityElement.textContent=quantity

            
                const priceElement = document.querySelector(`[data-product-id="${productId}"] .product-price-cart .amount`);
                const price = parseFloat(priceElement.textContent);

                const subtotalElement = document.getElementById(`subtotal_${productId}`);
                const subtotal = quantity * price;
                subtotalElement.textContent = `₹${subtotal}`;

                const cartTotalElement = document.getElementById('cartTotalPrice');
            let cartTotal = parseFloat(cartTotalElement.textContent);
            cartTotal += price;
            cartTotalElement.textContent = cartTotal.toFixed(2);
        }else {
            console.log(response.data)
            throw new Error('maximum limit is reached')
        }
        }).catch(error=>{
            console.log(error)
            Toastify({
                text: 'Maximum limit is reached',
            duration: 3000,
            gravity: 'top',
            position: 'center',
            backgroundColor: 'red'
        }).showToast();
            })
        
        

        }

        // quantity minus
        function quantityMinus(productId){
            axios.post('/quantityMinus/'+productId)
            .then(response =>{
                if(response.status===200){
              const quantityElement=document.getElementById(`quantity_${productId}`)
              let quantity=parseInt(quantityElement.textContent)

              if(quantity >1){
                quantity--;
                quantityElement.textContent = quantity;

                const priceElement = document.querySelector(`[data-product-id="${productId}"] .product-price-cart .amount`);
                const price = parseFloat(priceElement.textContent);

                const subtotalElement = document.getElementById(`subtotal_${productId}`);
                const subtotal = quantity * price;
                subtotalElement.textContent = `₹${subtotal.toFixed(2)}`;

                const cartTotalElement = document.getElementById('cartTotalPrice');
                let cartTotal = parseFloat(cartTotalElement.textContent);
                cartTotal -= price;
                cartTotalElement.textContent = cartTotal.toFixed(2);
              }

                }
            })
        .catch(error=>{
               console.log('product quantity not decreased');j
               res.status(400).send('')
        })
        }
    
</script>


<script>
    function removeFromCart(productId){
        axios.post('/removeFromCart/'+productId)
        .then((response)=>{
            console.log(response);
            if(response.status===200){
                
                Toastify({
                    text: 'product remove from the cart',
                    duration: 3000,
                    gravity: 'top',
                    position: 'center',
                    backgroundColor: 'darkGrey'
                }).showToast();
                const rowToRemove = document.querySelector(`tr[data-product-id="${productId}"]`);
                if (rowToRemove) {
                    rowToRemove.remove();
                }

                const cartTotalElement = document.getElementById('cartTotalPrice');
                if (cartTotalElement) {
                    cartTotalElement.textContent = response.data.cartTotal;
                }

            }                            
        })
        .catch(error => {
                console.error('product not deleted from the cart', error);
                alert('product not delete from the cart');
 });
    }
</script>
 

<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <!-- <img alt="" src="/assets/img/logo/logo.png"> -->
                        </a>
                    </div>
                    <p>© 2020 <a href="#">Flone</a>.<br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>ABOUT US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Orders tracking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>USEFUL LINKS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                    <div class="footer-title">
                        <h3>SUBSCRIBE</h3>
                    </div>
                    <div class="subscribe-style">
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email here.." name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>











<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="/assets/js/vendor/jquery-v3.4.1.min.js"></script>
<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>


</body>


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/cart-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2024 06:11:45 GMT -->
</html>