<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2024 06:11:45 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pack Perks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
<header class="header-area header-in-container clearfix">
    <div class="header-top-area">
        <div class="container">
            <div class="header-top-wap">
                <div class="language-currency-wrap">
                    <div class="same-language-currency language-style">
                        <a href="#">English <i class="fa fa-angle-down"></i></a>
                        <div class="lang-car-dropdown">
                            <ul>
                                <li><a href="#">Arabic </a></li>
                                <li><a href="#">Bangla </a></li>
                                <li><a href="#">Hindi  </a></li>
                                <li><a href="#">Spanish </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="same-language-currency use-style">
                        <a href="#">USD  <i class="fa fa-angle-down"></i></a>
                        <div class="lang-car-dropdown">
                            <ul>
                                <li><a href="#">Taka (BDT) </a></li>
                                <li><a href="#">Riyal (SAR) </a></li>
                                <li><a href="#">Rupee (INR)  </a></li>
                                <li><a href="#">Dirham (AED) </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="same-language-currency">
                        <p>Call Us 3965410</p>
                    </div>
                </div>
                <div class="header-offer">
                    <p>Free delivery on order over <span>$200</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar header-res-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="index.html">
                            <!-- <img alt="" src="/assets/img/logo/logo.png"> -->
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="/">Home </a>
                                   
                                </li>
                                <li><a href="/shop"> Shop  </a>
                                   
                                </li>
                               
                               
                                <li><a href="about.html"> About </a></li>
                                <li><a href="contact.html"> Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                       <div class="header-right-wrap">
                        <div class="same-style header-search">
                            <a class="search-active" href="#"><i class="pe-7s-search"></i></a>
                            <div class="search-content">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button class="button-search"><i class="pe-7s-search"></i></button>
                                </form>
                            </div> 
                        </div>
                        <div class="same-style account-satting">
                            <a class="account-satting-active" href="/profile"><i class="pe-7s-user-female"></i></a>
                           
                        </div>
                        <div class="same-style header-wishlist">
                            <a href="/wishlist"><i class="pe-7s-like"></i></a>
                        </div>
                        <div class="same-style cart-wrap">
                           <a href="/cart"> <button class="icon-cart">
                                <i class="pe-7s-shopbag"></i>
                                <!-- <span class="count-style"></span> -->
                            </button></a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="/">HOME</a>
                                <ul>
                                    
                            <li><a href="shop.html">Shop</a>
                                
                                    <li><a href="#">shop layout</a>
                                        
                                    </li>
                                    <li><a href="#">product details</a>
                                        
                                    </li>
                                </ul>
                            </li>
                            
                            
                            <li><a href="about.html">About us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Checkout </li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-area pt-95 pb-100">
    <form id="checkOutForm" action="/order" method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="billing-info-wrap">
                    <h3>SELECT ADDRESS FOR DELIVERY</h3>
                    <% user.address.forEach((address, index) => { %>
                        <div style="display:flex; align-items: center; padding: 10px; border-radius: 5px; border: 1px solid #ccc; margin-bottom: 10px;">
                            <div style="position: relative; margin-right: 10px;  top: -2px;">
                                <input type="radio" name="addressId" id="addressCheckOut<%= index %>" value="<%= address._id %>">
                            </div>
                            <div>
                                <label for="addressCheckOut<%= index %>">
                                    <span> <strong> <%= address.name %> , </strong> <%= address.houseNumber %>, <%= address.street %> ..... </span>
                                </label>
                            </div>
                        </div>
                    <% }); %>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Address</button>


                      
                      
                </div>
            </div>
            <div class="col-lg-5">
                <div class="your-order-area">
                    <h3>Your order</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                            <div class="your-order-top">
                                <ul>
                                    <li>Product</li>
                                    <li>Total</li>
                                </ul>
                            </div>
                            <div class="your-order-middle">
                                <% user.cart.product.forEach(cartItem=>{%>

                                
                                <ul>
                                    <input type="hidden" name="productId" value="<%=cartItem.productId%>">
                                    <li><span class="order-middle-left"><%=cartItem.productName%></span> <span class="order-price"><%=cartItem.productPrice%>*<%=cartItem.quantity%> = <%= parseInt(cartItem.productPrice) * parseInt(cartItem.quantity) %> </span></li>
                                    <!-- <li><span class="order-middle-left"><%=cartItem.productPrice%></span> <span class="order-price">$329 </span></li> -->
                                </ul>
                                <%})%>
                            </div>
                            <!-- <div class="your-order-bottom">
                                <ul>
                                    <li class="your-order-shipping">Shipping</li>
                                    <li>Free shipping</li>
                                </ul>
                            </div> -->
                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">Total</li>
                                    <li> <input style="display: flex;justify-content: end;" type="number" name="cartTotal" value="<%=cartTotal%>"> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                              Do you have coupon
                            </label>
                          </div>
                        <div id="coupon-part" style="display: none;">
                            <div class="coupon-apply"  >
                                <form  id="couponApplyForm" action="/couponApply" method="post">
                                         <input type="hidden" id="checkout-price" name="totalValue"  class="" value="<%=cartTotal%>" style="text-align: end; width: 50%; ">
                                    <div style="display: flex;"> 
                                    <input type="text" name="couponCode" id="couponCode" placeholder="enter coupon code" style="width: 50%;" >
                                    <select name="couponId" id="couponId"  onchange="updateCouponCode()" style="width: 50%;">
                                        <option hidden >select coupon</option>
                                        <% coupon.forEach(coupon=>{%>
                                            
                                        <option id="couponOption" value="<%=coupon._id%>"><%=coupon.couponCode%></option>
                                        <% })%>
                                    </select>
                                </div>
                                    <button  id="applyCouponbtn" class=" btn-primary" onclick="applyCoupon()" >apply coupon</button>
                                </form>
                            </div>
                            <div style="display: none; justify-content: space-between; margin-top: 10px; border-bottom: 1px solid grey;" id="discounted">
                                <span><h4>discountValue</h4></span>
                                <span><h4 id="discountValue"></h4></span>
                            </div>
    
                        
                          <div id="couponMessage" ></div>
                     
                       
                    </div>

                    <div class="your-order-total " style="display: flex; justify-content: space-between; margin-top: 10px;">    
                        <span><h4> order Total </h4></span>
                         <span> <h4 id="totalAmount"> <input type="number" name="orderTotal" value="<%=cartTotal%>"> </h4></span>
                    </div>

                    <div style="border-top: 1px solid lightgray;">
                        <h4>payment-method</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="cod" value="COD">
                            <label class="form-check-label" for="cod">
                                COD
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="onlinePayment" value="Online Payment">
                            <label class="form-check-label" for="onlinePayment">
                                ONLINE PAYMENT
                            </label>
                        </div>
                    </div>
                    
                    <div class="Place-order mt-25">
                            <a  class="btn-hover" onclick="placeOrder()" href="#">PLACE ORDER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

                        
<script>
   

      function placeOrder(){

        const address=document.querySelector('input[name="addressId"]:checked').value;
        const paymentMethod=document.querySelector('input[name="paymentMethod"]:checked').value;
        const orderTotal=document.querySelector('input[name="orderTotal"]').value;
        const wihtOutDiscount=document.querySelector('input[name="totalValue"]').value;
        const products=[]
        document.querySelectorAll('input[name="productId"]').forEach(input=>{
            const productId=input.value;
            const quantity = parseInt(input.nextElementSibling.innerText.split('*')[1]);
            // const total = parseInt(input.nextElementSibling.innerText.split('=')[1]);
            products.push({productId,quantity})
        })
        const orderData={
            addressId:address,
            paymentMethod,
            orderTotal,
            products,
            wihtOutDiscount,
        }
        axios.post('/order',orderData)
        .then(response=>{
            if(response.status==200){
                Swal.fire({
                title: "Order placed successfully!",
                text: "Successfully placed the order!",
                icon: "success",
                timer: 3000, 
                showConfirmButton: false 
            }).then(()=>{
                window.location.href='/ordersGet';
            })
            }
        }).catch(error=>{
            console.error(error)
        })
        // document.getElementById('checkOutForm').submit();
      }






    const couponCheckbox = document.getElementById('flexCheckIndeterminate');
    const couponPartDiv = document.getElementById('coupon-part');

    couponCheckbox.addEventListener('change', function() {
        if (this.checked) {
            couponPartDiv.style.display = 'block';
        } else {
            couponPartDiv.style.display = 'none';
        }
    });

    // removign and applying coupon from ordering 

      
    const applyCoupon = async (event) => {
        event.preventDefault()
    const select = document.getElementById('couponId');
    const couponId = select.value;
    if (!couponId) {
        document.getElementById('couponMessage').textContent = 'Please select a coupon.';
        document.getElementById('couponMessage').style.color = 'red';
        return;
    }

    const totalValue = document.getElementById('checkout-price').value;

    try {
        const response = await fetch('/couponApply', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ couponId, totalValue }),
        });

        if (response.ok) {
            const data = await response.json();
            document.getElementById('totalAmount').innerHTML = `<input type="number" name="orderTotal" value="${data.discountedPrice}">`;
            document.getElementById('discountValue').textContent = data.discountValue;
            document.getElementById('discounted').style.display = 'block';
            document.getElementById('couponMessage').textContent = data.message;
            document.getElementById('couponMessage').style.color = 'green';

            const couponbtn = document.getElementById('applyCouponbtn');
            couponbtn.textContent = 'Remove Coupon';
            couponbtn.style.backgroundColor = 'red';
            couponbtn.onclick = removeCoupon;
        } else {
            const data = await response.json();
            document.getElementById('couponMessage').textContent = data.error;
            document.getElementById('couponMessage').style.color = 'red';
        }
    } catch (error) {
        console.error(error);
        document.getElementById('couponMessage').textContent = 'Error applying coupon.';
        document.getElementById('couponMessage').style.color = 'red';
    }
};


const removeCoupon = async(event)=>{
        event.preventDefault()
     let orderedAmount= document.getElementById('totalAmount').value = '<%=cartTotal%>'
    //  document.getElementById('totalAmount').value=orderedAmount
    document.getElementById('couponCode').value = '';

    document.getElementById('couponMessage').textContent = '';
    document.getElementById('couponMessage').style.color = '';
    document.getElementById('discounted').style.display = 'none';
    // document.getElementById('couponOption').textContent=''

    const applyCouponButton = document.getElementById('applyCouponbtn');
        applyCouponButton.textContent = 'Apply Coupon';
        applyCouponButton.style.backgroundColor = '';
        applyCouponButton.onclick = applyCoupon;

        const couponSelect=document.getElementById('couponId')
        couponSelect.selectedIndex=0

        window.location.reload();

   }

 
        function updateCouponCode() {
            const select = document.getElementById('couponId');
            const input = document.getElementById('couponCode');
            var selectedOption = select.options[select.selectedIndex];

            if(selectedOption && selectedOption.text){
                input.value = selectedOption.text; 
            }
        }

        document.getElementById('applyCouponbtn').addEventListener('click',applyCoupon)

        document.getElementById('couponApplyForm').addEventListener('click', async (event) => {
            event.preventDefault();
            await applyCoupon();
        });

    </script>

    <!-- modal for adding a new address in the checkout page -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  >
    <div class="modal-dialog modal-dialog-centered "  style="max-width: 500px; max-height: 80vh; margin: auto;">
      <div class="modal-content" >
        <div class="modal-header "  >
            <h1 class="modal-title fs-5 text-center " id="exampleModalLabel" style=" margin: auto;"><strong> ADD NEW ADDRESS </strong></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>                            
        <div class="modal-body" >
          <form action="/addAddress " method="post" style="margin: 4px; height: 420px;">
            <div class="mb-3">
              <label for="name" class="col-form-label">name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
              <label for="houseNumber" class="col-form-label">house number</label>
              <input type="text" class="form-control" id="houseNumber" name="houseNumber">
              <label for="city" class="col-form-label">City</label>
              <input type="text" class="form-control" id="city" name="city">
              <label for="street" class="col-form-label">street Name</label>
              <input type="text" class="form-control" id="street" name="street">
              <label for="pincode" class="col-form-label">pin code</label>
              <input type="number" class="form-control" id="pincode" name="pincode">
              <label for="phoneNumber" class="col-form-label" >Phone Number</label>
              <input type="number" class="form-control" id="phoneNumber" name="phoneNumber">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">save address</button>
        </div>
      </form>
      </div>
    </div>
  </div>
    
<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <!-- <img alt="" src="/assets/img/logo/logo.png"> -->
                        </a>
                    </div>
                    <p>© 2020 <a href="#">Flone</a>.<br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>ABOUT US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Orders tracking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>USEFUL LINKS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                    <div class="footer-title">
                        <h3>SUBSCRIBE</h3>
                    </div>
                    <div class="subscribe-style">
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email here.." name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>









<!-- JS
============================================ -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


<!-- jQuery JS -->
<script src="/assets/js/vendor/jquery-v3.4.1.min.js"></script>
<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>

</body>


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2024 06:11:45 GMT -->
</html>