<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/index-13.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2024 06:08:54 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pack Perks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- swiper js codes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
        .container {
            text-align: center;
            margin: 20px auto;

            width: 80%;
        }

        .heading {
            font-style: italic;
        }

        .underline {
            width: 100%;
            border-bottom: 1px solid black;
            margin-top: 10px;
        }
        .product-img {
    position: relative;
}


.product-img img {
    max-width: 100%;
}

.product-img .disabled {
    opacity: 0.5; /* Reduce opacity of the image */
}

.product-img .out-of-stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.7); /* Red color with some transparency */
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin: 20px auto;
    }

    </style>
</head>

<body>
<header class="header-area header-padding-2 sticky-bar header-res-padding clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                <div class="logo">
                    <a href="index.html">
                        <!-- <img alt="" src="/assets/img/logo/logo.png"> -->
                    </a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="/">Home <i class=""></i></a>
                                
                            </li>
                            <li><a href="/shop"> Shop <i class=""></i> </a>
                                
                            </li>
                            <!-- <li><a href="shop.html">Collection</a></li> -->
                            <!-- <li><a href="#"> Pages <i class="fa fa-angle-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="about.html">about us</a></li>
                                    <li><a href="cart-page.html">cart page</a></li>
                                    <li><a href="checkout.html">checkout </a></li>
                                    <li><a href="wishlist.html">wishlist </a></li>
                                    <li><a href="/profile">my account</a></li>
                                    <li><a href="/login">login / register </a></li>
                                    <li><a href="contact.html">contact us </a></li>
                                    <li><a href="404.html">404 page </a></li>
                                </ul>
                            </li> -->
                            
                            <li><a href="about.html"> About </a></li>
                            <li><a href="contact.html"> Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                   <div class="header-right-wrap">
                    <div class="same-style header-search">
                        <a class="search-active" href="#"><i class="pe-7s-search"></i></a>
                        <div class="search-content">
                            <form action="#">
                                <input type="text" placeholder="Search" />
                                <button class="button-search"><i class="pe-7s-search"></i></button>
                            </form>
                        </div> 
                    </div>
                    <div class="same-style account-satting">
                        <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
                        <div class="account-dropdown">
                            <ul>
                                <% if (isAuthenticated) { %>
                                    <!-- <li><a href="/signup">Register</a></li> -->
                                    <li><a href="/wishlist">Wishlist</a></li>
                                    <li><a href="/profile">My Account</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                    
                                <% } else { %>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">Register</a></li>
                                    
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <div class="same-style header-wishlist">
                        <a href="/wishlist"><i class="pe-7s-like"></i></a>
                    </div>
                    <div class="same-style cart-wrap">
                      <a href="/cart">  <button class="icon-cart">
                            <i class="pe-7s-shopbag"></i>
                            <!-- <span class="count-style"></span> -->
                        </button></a>
                        <div class="shopping-cart-content">
                            <!-- <ul>
                                <li class="single-shopping-cart">
                                    <div class="shopping-cart-img">
                                        <a href="#"><img alt="" src="/assets/img/cart/cart-1.png"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href="#">T- Shart & Jeans </a></h4>
                                        <h6>Qty: 02</h6>
                                        <span>$260.00</span>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fa fa-times-circle"></i></a>
                                    </div>
                                </li>
                                <li class="single-shopping-cart">
                                    <div class="shopping-cart-img">
                                        <a href="#"><img alt="" src="/assets/img/cart/cart-2.png"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href="#">T- Shart & Jeans </a></h4>
                                        <h6>Qty: 02</h6>
                                        <span>$260.00</span>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fa fa-times-circle"></i></a>
                                    </div>
                                </li>
                            </ul> -->
                            <!-- <div class="shopping-cart-total">
                                <h4>Shipping : <span>$20.00</span></h4>
                                <h4>Total : <span class="shop-total">$260.00</span></h4>
                            </div> -->
                            <!-- <div class="shopping-cart-btn btn-hover text-center">
                                <a class="default-btn" href="/cart">view cart</a>
                                <a class="default-btn" href="checkout.html">checkout</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu-area">
            <div class="mobile-menu">
                <nav id="mobile-menu-active">
                    <ul class="menu-overflow">
                        <li><a href="index.html">HOME</a>
                            <ul>                                   
                                </li>
                               
                                </li>
                               
                            </ul>
                        </li>
                        <li><a href="/shop">Shop</a>
                            <ul>
                                <li><a href="#">shop layout</a>
                                   
                                </li>
                                <li><a href="#">product details</a>
                                    
                                </li>
                            </ul>
                        </li>
                        <li><a href="shop.html">Collection</a></li>
                        <li><a href="#">Pages</a>
                            <ul>
                                <li><a href="about.html">about us</a></li>
                                <li><a href="cart-page.html">cart page</a></li>
                                <li><a href="checkout.html">checkout </a></li>
                                <li><a href="wishlist.html">wishlist </a></li>
                                <li><a href="my-account.html">my account</a></li>
                                <li><a href="login-register.html">login / register </a></li>
                                <li><a href="contact.html">contact us </a></li>
                                <li><a href="404.html">404 page </a></li>
                            </ul>
                        </li>
                       
                        <li><a href="about.html">About us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1">
        <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="background-image:url(/assets/img/slider/hm13-slider-1.webp);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="slider-content-13 slider-animated-1">
                            <h5 class="animated">Industry Best Selling </h5>
                            <h1 class="animated">Discover <br> The Perfect</h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="/shop">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="background-image:url(/assets/img/slider/hm-13-slider-1.jpeg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="slider-content-13 slider-animated-1">
                            <h5 class="animated">The Best Selling </h5>
                            <h1 class="animated">Fashion <br>bags</h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="shop.html">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pt-95 pb-70">
    <div class="container">
        <!-- <div class="tab-filter-wrap mb-60"> -->
            <div class="product-tab-list-2 nav">
                <!-- <a class="active" href="#product-1" data-toggle="tab" >
                    <h4>New Arrivals  </h4>
                </a>
                <a  href="#product-2" data-toggle="tab">
                    <h4>best sellers</h4>
                </a>
                <a href="#product-3" data-toggle="tab">
                    <h4>top Selling</h4>
                </a> -->
           
       
                <div class="container d-flex" style="justify-content: space-around;">
                    <div id="latestProducts" class="row" style="cursor: pointer;">
                        <h2 class="heading" style="display: inline-block;display: flex; justify-content: flex-start;">Latest products</h2>
                    </div>
                    <div>
                        <%categoryName.forEach(category=>{%>
                            <h4 class="category-link" style="display: inline-block; margin: 10px 0 0 10px ; cursor: pointer;" data-category="<%=category%>"><%=category%></h4>
                        <% })%>
                    </div>
                </div>
                <div class="underline mb-5"></div>
                
                <div class="">
                    <div class="tab-pane" id="product-1">
                        <div class="row" id="product-list">
                            <% products.forEach(product => { %>
                                <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 product-category" data-category="<%=product.categoryName%>">
                                    <div class="product-wrap-2 mb-25">
                                        <div class="product-img">
                                            <a href="/singleProduct/<%=product._id%>">


                                                <img class="default-img <%= product.isDisabled ? 'disabled' : '' %>" src="<%=product.productImage[0]%>" alt="">
                                                <img class="hover-img" src="<%=product.productImage[1]%>" alt="">
                                            </a>
                                            <% if (product.isDisabled) { %>
                                                <div class="product-action-2">
                                                    <span class="out-of-stock">Out of Stock</span>
                                                </div>
                                            <% } else { %>
                                                <div class="product-action-2">
                                                </div>
                                            <% } %>
                                        </div>
                                        <div class="product-content-2 d-flex justify-content-center" >
                                            <div class="title-price-wrap-2" >
                                                <h3><a href="/singleProduct/<%=product._id%>"><%=product.productName%></a></h3>
                                                <div class="price-2">
                                                    <span>₹: <%=product.productPrice%></span>
                                                </div> 
                                            </div>                                      
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>

                
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                    const categoryLinks = document.querySelectorAll('.category-link');
                    const products = document.querySelectorAll('.product-category');

                    function showAllProducts() {
                            products.forEach(product => {
                                product.style.display = 'block';
                            });
                        }

                    categoryLinks.forEach(link => {
                        link.addEventListener('click', function() {
                            const category = this.dataset.category;
                            products.forEach(product => {
                                if (product.dataset.category === category) {
                                    product.style.display = 'block';
                                } else {
                                    product.style.display = 'none';
                                }
                            });
                        });
                    });
                    
                document.getElementById('latestProducts').addEventListener('click', function() {
                        showAllProducts();
                    });
            });





                </script>
      
        
        
                   
<div class="support-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 support-padding-2 support-shape-3 mb-30 text-center">
                    <div class="support-content-2">
                        <img class="animated" src="/assets/img/icon-img/support-1.png" alt="">
                        <h5>Free Shipping</h5>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 support-padding-2 support-shape-3 mb-30 text-center">
                    <div class="support-content-2">
                        <img class="animated" src="/assets/img/icon-img/support-2.png" alt="">
                        <h5>Support 24/7</h5>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 support-padding-2 support-shape-3 mb-30 text-center">
                    <div class="support-content-2">
                        <img class="animated" src="/assets/img/icon-img/support-3.png" alt="">
                        <h5>Money Return</h5>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------- swiper to show the wishlist products------------------ -->
<% if (isAuthenticated && wishlistProducts && wishlistProducts.wishlist && wishlistProducts.wishlist.length > 3) { %>
    <div style="display: flex; justify-content: center; text-align: center; width: 100%;" id="favourite_products">
        <h2>Your favourite products</h2>
    </div>

    <div #swiperRef="" class="swiper mySwiper">
        <div class="swiper-wrapper">
            <% wishlistProducts.wishlist.forEach(wishlistItem => { %>
                <div class="swiper-slide">
                    <div class="img_box">
                       <a href=""> <img style="width: 260px; height: 280px; object-fit: cover;" src="<%= wishlistItem.productImage[0] %>" alt="<%= wishlistItem.productName %>"></a>
                        <h4><%=wishlistItem.productName%></h4>
                    </div>              
                </div>
            <% }); %>  
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
<% } %>



<!-- script tag  ------------- -->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
     var swiper = new Swiper(".mySwiper", {
      slidesPerView: 4,
    //   centeredSlides: true,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        type: "fraction",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
</script>


<div class="testimonial-area pb-95">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 ml-auto mr-auto">
                <div class="testimonial-active owl-carousel nav-style-1 nav-testi-style">
                    <div class="single-testimonial text-center">
                        <img src="/assets/img/testimonial/testi-1.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="client-info">
                            <i class="fa fa-map-signs"></i>
                            <h5>Grace Alvarado</h5>
                            <span>Customer</span>
                        </div>
                    </div>
                    <div class="single-testimonial text-center">
                        <img src="/assets/img/testimonial/testi-1.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="client-info">
                            <i class="fa fa-map-signs"></i>
                            <h5>Grace Alvarado</h5>
                            <span>Customer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="banner-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-banner-2 mb-30">
                    <a href="product-details.html"><img src="/assets/img/banner/banner-16.png" alt=""></a>
                    <div class="banner-content-2 jewellery-banner">
                        <h3>Eye Lashes </h3>
                        <h4>Starting at <span>$99.00</span></h4>
                        <a href="product-details.html"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-banner-2 mb-30">
                    <a href="product-details.html"><img src="/assets/img/banner/banner-17.png" alt=""></a>
                    <div class="banner-content-2 jewellery-banner">
                        <h3>Anti-Wrinkles</h3>
                        <h4>Starting at <span>$79.00</span></h4>
                        <a href="product-details.html"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="brand-logo-area pb-95">
    <div class="container">
        <div class="brand-logo-active owl-carousel">
            <div class="single-brand-logo">
                <img src="/assets/img/brand-logo/barnd-logo-1.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="/assets/img/brand-logo/barnd-logo-2.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="/assets/img/brand-logo/barnd-logo-3.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="/assets/img/brand-logo/barnd-logo-4.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="/assets/img/brand-logo/barnd-logo-5.png" alt="">
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="blog-area pb-55">
    <div class="container">
        <div class="section-title text-center mb-55">
            <h2>OUR BLOG</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="/assets/img/blog/blog-1.jpg" alt=""></a>
                        <span class="purple">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Shop <a href="#">Admin</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="/assets/img/blog/blog-2.jpg" alt=""></a>
                        <span class="pink">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Shop <a href="#">Admin</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="/assets/img/blog/blog-3.jpg" alt=""></a>
                        <span class="purple">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Shop <a href="#">Admin</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <!-- <img alt="" src="/assets/img/logo/logo.png"> -->
                        </a>
                    </div>
                    <p>© 2020 <a href="#">Flone</a>.<br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>ABOUT US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Orders tracking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>USEFUL LINKS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                    <div class="footer-title">
                        <h3>SUBSCRIBE</h3>
                    </div>
                    <div class="subscribe-style">
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email here.." name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="/assets/img/product/quickview-l1.jpg" alt="">
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img src="/assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img src="/assets/img/product/quickview-l3.jpg" alt="">
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img src="/assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active owl-carousel nav nav-style-1" role="tablist">
                                <a class="active" data-toggle="tab" href="#pro-1"><img src="/assets/img/product/quickview-s1.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-2"><img src="/assets/img/product/quickview-s2.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-3"><img src="/assets/img/product/quickview-s3.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-4"><img src="/assets/img/product/quickview-s2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2>Products Name Here</h2>
                            <div class="product-details-price">
                                <span>$18.00 </span>
                                <span class="old">$20.00 </span>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="pro-details-rating">
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <span>3 Reviews</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
                            <div class="pro-details-list">
                                <ul>
                                    <li>- 0.5 mm Dail</li>
                                    <li>- Inspired vector icons</li>
                                    <li>- Very modern style  </li>
                                </ul>
                            </div>
                            <div class="pro-details-size-color">
                                <div class="pro-details-color-wrap">
                                    <span>Color</span>
                                    <div class="pro-details-color-content">
                                        <ul>
                                            <li class="blue"></li>
                                            <li class="maroon active"></li>
                                            <li class="gray"></li>
                                            <li class="green"></li>
                                            <li class="yellow"></li>
                                            <li class="white"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pro-details-size">
                                    <span>Size</span>
                                    <div class="pro-details-size-content">
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                </div>
                                <div class="pro-details-cart btn-hover">
                                    <a href="#">Add To Cart</a>
                                </div>
                                <div class="pro-details-wishlist">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                </div>
                                <div class="pro-details-compare">
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="pro-details-meta">
                                <span>Categories :</span>
                                <ul>
                                    <li><a href="#">Minimal,</a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-meta">
                                <span>Tag :</span>
                                <ul>
                                    <li><a href="#">Fashion, </a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->








<!-- JS for =========================================== -->
<!-- sswiper slieder js -->
<!-- jQuery JS -->
<script src="/assets/js/vendor/jquery-v3.4.1.min.js"></script>
<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>

</body>


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/index-13.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2024 06:09:00 GMT -->
</html>