<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2024 06:11:45 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pack perks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<style>
    body {
    letter-spacing: 0.8px;
    background: linear-gradient(0deg , #fff , 50% , #74a0ff);
    background-repeat: no-repeat;    
}

.container-fluid {
    margin-top: 80px ;
    margin-bottom: 80px ;
}

p {
    font-size: 14px;
    margin-bottom: 7px;
}

.cursor-pointer {
    cursor: pointer;
}

a{
    text-decoration: none ;
    color: #651FFF ;
}

.bold{
    font-weight: 600;
}

.small{
    font-size: 12px ;
    letter-spacing: 0.5px ;
}

.Today{
    color: rgb(83, 83, 83);
}

.btn-outline-primary{
    background-color: #fff ;
    color:#4bb8a9 ;
    border:1.3px solid #4bb8a9;
    font-size: 12px;
    border-radius: 0.4em ;
}

.btn-outline-primary:hover{
    background-color:#4bb8a9  ;
    color:#fff ;
    border:1.3px solid #4bb8a9;
}

.btn-outline-primary:focus,
.btn-outline-primary:active {
    outline: none ;
    box-shadow: none ;
    border-color: #42A5F5 ;
}
 
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #455A64 ;
    
}

#progressbar #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 15px ;
    padding-left: 11px ;
}


#progressbar #step2:before {
    content: "2";
    color: #fff;
    width: 29px;

}

#progressbar #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 15px ;
    padding-right: 11px ;
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64 ;
    border-radius: 50%;
    margin: auto;
}

 #progressbar li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    /* z-index: -1; */
} 

#progressbar li:nth-child(2):after {
    left: 50%;
}

#progressbar li:nth-child(1):after {
    left: 25%;
    width: 121%;
}
#progressbar li:nth-child(3):after {
    left: 25% ;
    width: 50% ;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #4bb8a9; 
}

.card {
    background-color: #fff ;
    box-shadow: 2px 4px 15px 0px rgb(0, 108, 170);
    /* z-index: 1; */
}

small{
    font-size: 12px ;
}

.a {
    justify-content: space-between ;
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

.card-footer img{
    opacity: 0.3;
}

.card-footer h5{
    font-size: 1.1em;
    color: #8C9EFF;
    cursor: pointer;
}
</style>
</head>

<body>
<header class="header-area header-in-container clearfix">
    <div class="header-top-area">
        <div class="container">
            <div class="header-top-wap">
                <div class="language-currency-wrap">
                    <div class="same-language-currency language-style">
                        <a href="#">English <i class="fa fa-angle-down"></i></a>
                        <div class="lang-car-dropdown">
                           
                        </div>
                    </div>
                    <div class="same-language-currency use-style">
                        <a href="#">USD  <i class="fa fa-angle-down"></i></a>
                        <div class="lang-car-dropdown">
                           
                        </div>
                    </div>
                    <div class="same-language-currency">
                        <p>Call Us 3965410</p>
                    </div>
                </div>
                <div class="header-offer">
                    <p>Free delivery on order over <span>$200</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar header-res-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="/">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="/">Home </a>
                                    
                                </li>
                                <li><a href="/shop"> Shop </a>
                                    
                                </li>
                               
                               
                                <li><a href="/about"> About </a></li>
                                <li><a href="/contact"> Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                       <div class="header-right-wrap">
                        
                        <div class="same-style account-satting">
                            <a class="account-satting-active" href="/profile"><i class="pe-7s-user-female"></i></a>
                            <!-- <div class="account-dropdown">
                                <ul>
                                    <li><a href="login-register.html">Login</a></li>
                                    <li><a href="login-register.html">Register</a></li>
                                    <li><a href="wishlist.html">Wishlist  </a></li>
                                    <li><a href="my-account.html">my account</a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="same-style header-wishlist">
                            <a href="/wishlist"><i class="pe-7s-like"></i></a>
                        </div>
                        <!-- <div class="same-style cart-wrap">
                            <button class="icon-cart">
                                <i class="pe-7s-shopbag"></i>
                            </button>
                            
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="/">HOME</a>
                               
                            </li>
                            <li><a href="/shop">Shop</a>
                                <ul>
                                    
                                   
                            </li>
                            
                          
                            <li><a href="/about">About us</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Orders</li>
            </ul>
        </div>
    </div>
</div>

<div class="container my-5 d-sm-flex flex-column ">
    <% orders.forEach((order,orderIndex) => { %>
        <% order.products.forEach((product,productIndex) => { %>
            <div class="col-sm-12 col-lg-6 col-md-12">
                <div class="card px-2 my-3">
                    <div class="card-header bg-white">
                        <div class="row justify-content-between">
                            <div class="col">
                                <% if (product.orderStatus === 'delivered') { %>
                                    <button class="btn btn-primary" onclick="getInvoice('<%= order._id %>', '<%= product.productId %>')">Get Invoice</button>
                                <% } %>
                                <p class="text-muted"> Order ID <span class="font-weight-bold text-dark"><%= order._id %></span></p>
                                <p class="text-muted"> Place On <span class="font-weight-bold text-dark"><%= new Date(order.orderDate).toLocaleDateString()  %></span> </p>
                            </div>
                            <div class="flex-col my-auto">
                                <h6 class="ml-auto mr-3">
                                    <a href="#">View Details</a>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal<%= orderIndex %>-<%= productIndex %>">
                                        View
                                    </button>
                                    
                                    <div class="modal fade" id="exampleModal<%= orderIndex %>-<%= productIndex %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999;">
                                        <div class="modal-dialog" style="max-width: 600px; ">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Product Details</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" style="padding: 20px;background-color:#beccea ;">
                                                    <% if (product.orderStatus !== 'cancelled' && product.orderStatus !== 'delivered') { %>
                                                        <div style="margin-bottom: 20px;">
                                                            <form action="/cancelOrder" method="post">
                                                                <input type="hidden" value="<%= product._id %>" name="productId">
                                                                <input type="hidden" value="<%= order._id %>" name="orderId">
                                                                <select style="width: 100%; font-size: 18px; padding: 5px;" name="cancelReason" id="cancelReason">
                                                                    <option selected disabled value="changeMyMind">Reason for cancel</option>
                                                                    <option value="changeMyMind">change my mind</option>
                                                                    <option value="over priced">over priced</option>
                                                                    <option value="damaged product">damaged product</option>
                                                                </select>
                                                                <button class="btn-sm bg-danger" style="border: none; color: white; margin-top: 10px;">cancel order</button>
                                                            </form>
                                                        </div>
                                                    <% } %>
                                                    
                                                
                                                    <p style="margin-bottom: 10px;"><strong>Order ID:</strong> <%= order._id %></p>
                                                    <p style="margin-bottom: 10px;"><strong>Order Date:</strong> <%= new Date(order.orderDate).toLocaleDateString()  %></p>
                                                    <p style="margin-bottom: 10px;"><strong>Delivery Date:</strong> <%= new Date(order.expectedDelivery).toLocaleDateString()  %></p>
                                                    
                                                    <% if (product.orderStatus !== 'cancelled') { %>
                                                        <p style="margin-bottom: 10px;"><strong>Discounted:</strong> <%= order.totalAmount %></p>
                                                    <% } %>
                                                    
                                                    <p style="margin-bottom: 10px;"><strong>Order Total:</strong> <%= order.wihtOutDiscount %></p>
                                                    
                                                    <hr style="margin-top: 20px; margin-bottom: 20px;">
                                                
                                                    <% if (order.shippingAddress) { %>
                                                        <h3 style="margin-bottom: 10px;">Shipping Address</h3>
                                                        <p><strong>Name:</strong> <%= order.shippingAddress.name %></p>
                                                        <p><strong>House Number:</strong> <%= order.shippingAddress.houseNumber %></p>
                                                        <p><strong>Street:</strong> <%= order.shippingAddress.street %></p>
                                                        <p><strong>City:</strong> <%= order.shippingAddress.city %></p>
                                                        <p><strong>PIN:</strong> <%= order.shippingAddress.pincode %></p>
                                                    <% } %>
                                                
                                                    <h3 style="margin-top: 20px; margin-bottom: 10px;">Product Details</h3>
                                                    <p><strong>Name:</strong> <%= product.productName %></p>
                                                    <p><strong>Price:</strong> <%= product.productPrice %></p>
                                                    <p><strong>Order Status:</strong> <%= product.orderStatus %></p>
                                                    <p><strong>Product ID:</strong> <%= product.productId %></p>
                                                </div>
                                                
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="media flex-column flex-sm-row">
                            <div class="media-body ">
                                <h5 class="bold"><%= product.productName %></h5>
                                <p class="text-muted">Quanity: <%= product.quantity %></p>
                                <h4 class="mt-3 mb-4 bold"> <span class="mt-5">&#x20B9;</span>Price: <%= product.productPrice %><span class="small text-muted"> paymentMethod: <%= order.paymentMethod %></span></h4>
                                <h5 class="
                                <% if (product.orderStatus === 'cancelled') { %>
                                    text-danger
                                <% } else if (product.orderStatus === 'pending') { %>
                                    text-warning
                                <% } else if (product.orderStatus === 'delivered') { %>
                                    text-success
                                <% } else if(product.orderStatus==='shipped'){%>
                                      text-primary
                                <%} %>"
                            >
                                <%= product.orderStatus %>
                            </h5>
                                                            <% if (product.cancelReason) { %>
                                    <p><strong>Cancel Reason:</strong> <%= product.cancelReason %></p>
                                <% } %>
                            </div>
                            <img class="align-self-center img-fluid" src="<%= product.productImage[0] %>" width="180" height="180">
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    <% }); %>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>


<script>

function getInvoice(orderId, productId) {
    const data = { orderId, productId };
    axios.post('/getInvoice', data, { responseType: 'blob' })
    .then(response => {
        console.log(response.data)
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'order_summary.pdf');
        document.body.appendChild(link);
        link.click();
        // Clean up
        document.body.removeChild(link);
        window.URL.revokeObjectURL(url);
    }).catch(error => {
        console.error('Error downloading PDF:', error);
    });
}

 // Assuming you have already included Axios in your project

// Add an event listener to the select element
const cancelReasonSelect = document.getElementById('cancelReason');

cancelReasonSelect.addEventListener('change', async (event) => {
    const selectedReason = event.target.value;

    // Update the UI to display the selected reason
    const selectedReasonElement = document.getElementById('selectedCancelReason');
    selectedReasonElement.textContent = selectedReason;

    // Send the selected reason to the backend for storage using Axios
    try {
        const response = await axios.post('/saveCancelReason', {
            cancelReason: selectedReason
        });
        console.log('Cancel reason saved successfully');
    } catch (error) {
        console.error('Failed to save cancel reason:', error);
    }
});

 
</script>


<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <!-- <img alt="" src="assets/img/logo/logo.png"> -->
                        </a>
                    </div>
                    <p>© 2020 <a href="#">Flone</a>.<br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>ABOUT US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Orders tracking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>USEFUL LINKS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                    <div class="footer-title">
                        <h3>SUBSCRIBE</h3>
                    </div>
                    <div class="subscribe-style">
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email here.." name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="assets/img/product/quickview-l1.jpg" alt="">
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l3.jpg" alt="">
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active owl-carousel nav nav-style-1" role="tablist">
                                <a class="active" data-toggle="tab" href="#pro-1"><img src="assets/img/product/quickview-s1.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-2"><img src="assets/img/product/quickview-s2.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-3"><img src="assets/img/product/quickview-s3.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-4"><img src="assets/img/product/quickview-s2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2>Products Name Here</h2>
                            <div class="product-details-price">
                                <span>$18.00 </span>
                                <span class="old">$20.00 </span>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="pro-details-rating">
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <span>3 Reviews</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
                            <div class="pro-details-list">
                                <ul>
                                    <li>- 0.5 mm Dail</li>
                                    <li>- Inspired vector icons</li>
                                    <li>- Very modern style  </li>
                                </ul>
                            </div>
                            <div class="pro-details-size-color">
                                <div class="pro-details-color-wrap">
                                    <span>Color</span>
                                    <div class="pro-details-color-content">
                                        <ul>
                                            <li class="blue"></li>
                                            <li class="maroon active"></li>
                                            <li class="gray"></li>
                                            <li class="green"></li>
                                            <li class="yellow"></li>
                                            <li class="white"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pro-details-size">
                                    <span>Size</span>
                                    <div class="pro-details-size-content">
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                </div>
                                <div class="pro-details-cart btn-hover">
                                    <a href="#">Add To Cart</a>
                                </div>
                                <div class="pro-details-wishlist">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                </div>
                                <div class="pro-details-compare">
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="pro-details-meta">
                                <span>Categories :</span>
                                <ul>
                                    <li><a href="#">Minimal,</a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-meta">
                                <span>Tag :</span>
                                <ul>
                                    <li><a href="#">Fashion, </a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->









<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-v3.4.1.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2024 06:11:45 GMT -->
</html> 