<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pack Perks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <!-- Custom CSS -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Profile</title>
    <link rel="stylesheet" href="assets/css/profile.css" />
    <style>
       .list-group-item.active {
    background: #957bc8 !important;
}
.bg-warning {
    background: #e5eae7 !important;
}
.modal-content {
        background-color: #fefefe;
        margin: 4% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
        /*transform: translateY(-100%);*/
    }
    .close {
        float: right;
        text-align: right;
        font-size: 30px;
    }
    .modal-content h2 {
        text-align: center;
        margin-top: -35px;
    }
    .button_div {
        justify-content: center;
        text-align: center;
    }
    .button_div button {
        margin-right: 10px;
        background: #06c109;
        border: 1px solid #06C167;
        padding: 5px 15px;
        color: #FFFFFF;
        border-radius: 2px;
    }
    #addAddressForm input {
        padding: 5px;
    }
    .nice-select {
        padding: 0px !important;
        height: 38px !important;
        line-height: 38px !important;
    }
    
    .add_address_button {
        background: #957bc8;
        border: 1px solid #957bc8;
        padding: 5px 15px;
        color: #FFFFFF;
        border-radius: 2px;
    }
    
    @media (max-width: 768px) {
        .main_flex_div {
            display: flex;
            flex-direction: column;
        }
        .inner_flex_div {
            min-width: 100% !important;
        }
        .modal-content {
            padding: 10px 0px !important;
            min-width: 95% !important;
            height: 700px;
            overflow: scroll;
        }
        .close {
            margin-right: 10px;
        }
    }
    .list-group-item.active {
    background: #ffc107;
}
/* end common class */
.top-status ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.top-status ul li {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 8px solid #ddd;
    box-shadow: 1px 1px 10px 1px #ddd inset;
    margin: 10px 5px;
}
.top-status ul li.active {
    border-color: #079e0e;
    box-shadow: 1px 1px 20px 1px #ffc107 inset;
}
/* end top status */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 30px;
}
ul.timeline > li:before {
    content: '\2713';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 0;
    left: 5px;
    width: 50px;
    height: 50px;
    z-index: 400;
    text-align: center;
    line-height: 50px;
    color: #d4d9df;
    font-size: 24px;
    border: 2px solid var(--ogenix-primary);
}
ul.timeline > li.active:before {
    content: '\2713';
    background: #36cb08;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 0;
    left: 5px;
    width: 50px;
    height: 50px;
    z-index: 400;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 30px;
    border: 2px solid var(--ogenix-primary);
}
/* end timeline */
   
   
    
    </style>
  

</head>

<body>
<header class="header-area header-in-container clearfix  ">
    
    <div class="header-bottom sticky-bar header-res-padding ">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="index.html">
                            <!-- <img style="height: 80px;width: 150px;" src="/assets/img/logo/logo.png" alt=" "> -->
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="/">Home </a>
                                   
                                </li>
                                <li><a href="/shop"> Shop  </a>
                                   
                                </li>
                               
                               
                                <li><a href="about.html"> About </a></li>
                                <li><a href="contact.html"> Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                       <div class="header-right-wrap">
                        <div class="same-style header-search">
                            <a class="search-active" href="#"><i class="pe-7s-search"></i></a>
                            <div class="search-content">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button class="button-search"><i class="pe-7s-search"></i></button>
                                </form>
                            </div> 
                        </div>
                        <div class="same-style account-satting">
                            <a class="account-satting-active" href="/profile"><i class="pe-7s-user-female"></i></a>
                           
                        </div>
                        <div class="same-style header-wishlist">
                            <a href="/wishlist"><i class="pe-7s-like"></i></a>
                        </div>
                        <div class="same-style cart-wrap">
                           <a href="/cart"> <button class="icon-cart">
                                <i class="pe-7s-shopbag"></i>
                                <!-- <span class="count-style"></span> -->
                            </button></a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="/">HOME</a>
                                <ul>
                                    
                            <li><a href="shop.html">Shop</a>
                                
                                    <li><a href="#">shop layout</a>
                                        
                                    </li>
                                    <li><a href="#">product details</a>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li><a href="shop.html">Collection</a></li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="about.html">about us</a></li>
                                    <li><a href="cart-page.html">cart page</a></li>
                                    <li><a href="checkout.html">checkout </a></li>
                                    <li><a href="wishlist.html">wishlist </a></li>
                                    <li><a href="my-account.html">my account</a></li>
                                    <li><a href="login-register.html">login / register </a></li>
                                    <li><a href="contact.html">contact us </a></li>
                                    <li><a href="404.html">404 page </a></li>
                                </ul>
                            </li>
                            
                            <li><a href="about.html">About us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- profile start from here displaying in here kllllllllllllllll;ladl;a;lad;ladl; -->

<section class="my-5">
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://www.freeiconspng.com/thumbs/profile-icon-png/user-icon-png-person-user-profile-icon-20.png" alt="Admin"
                                    class="rounded-circle p-1 bg-warning" width="110">
                                <div class="mt-3">
                                    <h4><%=user.username%></h4>
                                    <p class="text-secondary mb-1"><%=user.phonenumber%></p>
                                    <!-- <p class="text-muted font-size-sm">Delhi, NCR</p> -->
                                </div>
                            </div>
                            <div class="list-group list-group-flush text-center mt-4">
                                <a href="#" class="list-group-item list-group-item-action border-0 " onclick="showProfileDetails()">
                                    Profile Informaton
                                </a>
                                <a href="#" class="list-group-item list-group-item-action border-0" onclick="showOrderDetails()">Orders</a>
                                
                                <a href="#" class="list-group-item list-group-item-action border-0 active"
                                    onclick="showAddressBook()">
                                    Address Book
                                </a>
                                <a href="/logout" class="list-group-item list-group-item-action border-0">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div  id="orderDetails" class="order_card">
                    <div class="card">
                        <div class="card-body">
                           
                        </div>
                    </div>
                    <div class="card mt-4" style="max-height: 65vh;">
                        <h4 class="p-3 mb-0">Order history</h4>

                        <div class="card-body p-0 table-responsive">
                            <div style="overflow-y: scroll;  scrollbar-width: none; -ms-overflow-style: none;">
                                <% orders.forEach((order, orderIndex) => { %>
                                  <% order.products.forEach((product, productIndex) => { %>
                                      <div class="col-sm-12 col-lg-12 col-md-12">
                                          <div class="card px-2 my-3">
                                              <div class="card-header bg-white">
                                                  <div class="row justify-content-between">
                                                      <div class="col">
                                                        <% if (product.orderStatus === 'delivered') { %>
                                                            <button class="btn btn-primary" onclick="getInvoice('<%= order._id %>', '<%= product.productId %>')">Get Invoice</button>
                                                        <% } %>
                                                          <p class="text-muted"> Order ID <span class="font-weight-bold text-dark"><%= order._id %></span></p>
                                                          <p class="text-muted"> Place On <span class="font-weight-bold text-dark"><%= new Date(order.orderDate).toLocaleDateString()  %></span> </p>
                                                      </div>
                                                      <div class="flex-col my-auto">
                                                          <h6 class="ml-auto mr-3">
                                                              <!-- <a href="#">View Details</a> -->
                                                              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal<%= orderIndex %>-<%= productIndex %>">
                                                                  View
                                                              </button>
                                                              
                                                              <div class="modal fade" id="exampleModal<%= orderIndex %>-<%= productIndex %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999;">
                                                                  <div class="modal-dialog" style="max-width: 600px; ">
                                                                      <div class="modal-content">
                                                                          <div class="modal-header">
                                                                              <h1 class="modal-title fs-5" id="exampleModalLabel">Product Details</h1>
                                                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-body" style="padding: 20px;background-color:#beccea ;">
                                                                              <% if (product.orderStatus !== 'cancelled' && product.orderStatus !== 'delivered') { %>
                                                                                  <div style="margin-bottom: 20px;">
                                                                                      <form action="/cancelOrder" method="post">
                                                                                          <input type="hidden" value="<%= product._id %>" name="productId">
                                                                                          <input type="hidden" value="<%= order._id %>" name="orderId">
                                                                                          <select style="width: 100%; font-size: 18px; padding: 5px;" name="cancelReason" id="cancelReason">
                                                                                              <option selected disabled value="changeMyMind">Reason for cancel</option>
                                                                                              <option value="changeMyMind">change my mind</option>
                                                                                              <option value="over priced">over priced</option>
                                                                                              <option value="damaged product">damaged product</option>
                                                                                          </select>
                                                                                          <button class="btn-sm bg-danger" style="border: none; color: white; margin-top: 10px;">cancel order</button>
                                                                                      </form>
                                                                                  </div>
                                                                              <% } %>
                                                                              
                                                                          
                                                                              <p style="margin-bottom: 10px;"><strong>Order ID:</strong> <%= order._id %></p>
                                                                              <p style="margin-bottom: 10px;"><strong>Order Date:</strong> <%= new Date(order.orderDate).toLocaleDateString()  %></p>
                                                                              <p style="margin-bottom: 10px;"><strong>Delivery Date:</strong> <%= new Date(order.expectedDelivery).toLocaleDateString()  %></p>
                                                                              
                                                                              <% if (product.orderStatus !== 'cancelled') { %>
                                                                                  <p style="margin-bottom: 10px;"><strong>Discounted:</strong> <%= order.totalAmount %></p>
                                                                              <% } %>
                                                                              
                                                                              <p style="margin-bottom: 10px;"><strong>Order Total:</strong> <%= order.wihtOutDiscount %></p>
                                                                              
                                                                              <hr style="margin-top: 20px; margin-bottom: 20px;">
                                                                          
                                                                              <% if (order.shippingAddress) { %>
                                                                                  <h3 style="margin-bottom: 10px;">Shipping Address</h3>
                                                                                  <p><strong>Name:</strong> <%= order.shippingAddress.name %></p>
                                                                                  <p><strong>House Number:</strong> <%= order.shippingAddress.houseNumber %></p>
                                                                                  <p><strong>Street:</strong> <%= order.shippingAddress.street %></p>
                                                                                  <p><strong>City:</strong> <%= order.shippingAddress.city %></p>
                                                                                  <p><strong>PIN:</strong> <%= order.shippingAddress.pincode %></p>
                                                                              <% } %>
                                                                          
                                                                              <h3 style="margin-top: 20px; margin-bottom: 10px;">Product Details</h3>
                                                                              <p><strong>Name:</strong> <%= product.productName %></p>
                                                                              <p><strong>Price:</strong> <%= product.productPrice %></p>
                                                                              <p><strong>Order Status:</strong> <%= product.orderStatus %></p>
                                                                              <p><strong>Product ID:</strong> <%= product._id %></p>
                                                                          </div>
                                                                          
                                                                          <div class="modal-footer">
                                                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                  
                                                          </h6>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="card-body">
                                                  <div class="media flex-column flex-sm-row">
                                                      <div class="media-body ">
                                                          <h5 class="bold"><%= product.productName %></h5>
                                                          <p class="text-muted">Quantity: <%= product.quantity %></p>
                                                          <h4 class="mt-3 mb-4 bold"> <span class="mt-5">&#x20B9;</span>Price: <%= product.productPrice %><span class="small text-muted"> paymentMethod: <%= order.paymentMethod %></span></h4>
                                                          <h5 class="
                                                          <% if (product.orderStatus === 'cancelled') { %>
                                                              text-danger
                                                          <% } else if (product.orderStatus === 'pending') { %>
                                                              text-warning
                                                          <% } else if (product.orderStatus === 'delivered') { %>
                                                              text-success
                                                          <% } %>"
                                                      >
                                                          <%= product.orderStatus %>
                                                      </h5>
                                                                                      <% if (product.cancelReason) { %>
                                                              <p><strong>Cancel Reason:</strong> <%= product.cancelReason %></p>
                                                          <% } %>
                                                      </div>
                                                      <img class="align-self-center img-fluid" src="<%= product.productImage[0] %>" width="180" height="180">
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  <% }); %>
                              <% }); %>
                              </div>
                           
                        </div>
                        
                    </div>
                   
                    </div>
                    
                     <div id="profileDetails" class="card" style="display: none;">
                    <div class="card-body">
                        <div class="profile-info">
                            <h3>personal Information</h3>
                            <p><strong>Name:</strong> <%=user.username%></p>
                            <p><strong>Email Address:</strong><%=user.email%> </p>
                            <p><strong>Contact:</strong><%=user.phonenumber%></p>
                           <!-- <button style="border: none;"> <i class="fas fa-edit"></i> </button>  -->
                           <!-- Button trigger modal -->
<button style="border: none;" type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fas fa-edit"></i> 
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit user details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editform" action="" method="">
            <label for="editname">Name</label>
            <input type="text" id="editname" name="editname" value="<%=user.username%>">
            <label for="editemail">Email</label>
            <input type="email" id="editemail" name="editemail" value="<%=user.email%>">
            <label for="editnumber">Phonenumber</label>
            <input type="number" id="editnumber" name="editnumber" value="<%=user.phonenumber%>">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" onclick="editProfile()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
                            <!-- <p><strong>Date of Birth:</strong> 02-03-1999</p>
                            <p><strong>Gender:</strong> Female</p>
                            <p><strong>City:</strong> Delhi, NCR</p>
                            <p><strong>Height:</strong> 5.4</p>
                            <p><strong>Weight:</strong> 50</p>
                            <p><strong>Goal:</strong> Hair & Skin</p>
                            <p><strong>Preference:</strong> Pure Vegitarian</p>
                            <p><strong>Role:</strong> User</p> -->
                        </div>
                    </div>
                </div>
                
                <div id="addressBook" class="card" style="display: none;">
                    <div class="card-body">
                        <h5>Address Book</h5>
                        <button class="add_address_button" onclick="showAddAddressModal()">Add Address</button>
                        
                        <div id="addressList">
                            <div  >
                                <% user.address.forEach(address=>{%>
                                  <div id="userProfile" style=" border-radius: 5px; border: 2px solid gray; display: flex ; justify-content: space-between; margin-bottom: 10px; " >
                                    <div style="text-align: start;">
                                   <span> <span><strong><%=address.name%></strong> </span><strong><%=address.phonenumber%></strong> </span> <br>
                                   <span><%=address.houseNumber%>,</span>
                                   <span><%=address.city%>,</span>
                                   <span><%=address.street%></span><br>
                                   <span> <strong>PIN:<%=address.pincode%></strong></span>
                                  </div>
                                  
                                  <div>
                            
                                     <a href="/editAddress/<%=address._id%>" ><i class="bi bi-pencil-square"></i></a> 
                                    <!-- Edit Address Modal -->
                                    <form action="/deleteAddress/<%=address._id%>" method="post">
                                      <button type="submit" style="background: none; border: none;">
                                        <i class="bi bi-trash3" style="color: red;"></i>
                                      </button>
                                  </form>         
                                  </div>
                                </div>
                               <%})%>
                              </div>
                        </div>
                    </div>
                </div>
                
                <div id="addAddressModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeAddAddressModal()">&times;</span>
    <h2>Add Address</h2>
    <form id="addAddressForm" action="/addAddress" method="post" onsubmit="saveAddress(event)">
        
        <div class="col-12 d-flex main_flex_div">
        <div class="col-4 d-flex flex-column inner_flex_div">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-4 d-flex flex-column inner_flex_div">
            <label for="phoneNumber">Mobile No.:</label>
            <input type="number" class="form-control" id="phoneNumber" name="phoneNumber">
        </div>
        <div class="col-4 d-flex flex-column inner_flex_div">
             <label for="pincode">Pin code:</label>
             <input type="number" class="form-control" id="pincode" name="pincode">

        </div>
        </div>
        
        
         <div class="col-12 d-flex main_flex_div">
        
        <div class="col-4 d-flex flex-column inner_flex_div">
            <label for="houseNumber">houseNumber:</label>
            <input type="text" class="form-control" id="houseNumber" name="houseNumber">
        </div>

        <div class="col-4 d-flex flex-column inner_flex_div">
           <label for="city">City/District/Town:</label>
           <input type="text" class="form-control" id="city" name="city">

        </div>
        
        
        
        </div>
        
        
        
        
         <div class="col-12 d-flex main_flex_div">
        <div class="col-6 d-flex flex-column inner_flex_div">
              <label for="street">Street Name:</label>
              <input type="text" class="form-control" id="street" name="street">

        </div>
      

        
        </div>
        
         <div class="col-12 d-flex button_div">
         <button type="submit">Save</button>
        <button type="button" onclick="closeAddAddressModal()">Cancel</button>
        </div>
        
        
    </form>
</div>
</div>


                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
   function editProfile() {
    let editname = document.getElementById('editname').value;
    let editemail = document.getElementById('editemail').value;
    let editnumber = document.getElementById('editnumber').value;

    axios.post('/editProfile', {
        editname: editname,
        editemail: editemail,
        editnumber: editnumber
    })
    .then(response => {
        console.log(response)
        if(response.status===200){
            Toastify({
            text: 'profile updated successfully',
            duration: 3000,
            gravity: 'top',
            position: 'center',
            backgroundColor: 'green'
        }).showToast();
        setTimeout(()=>{
            window.location.reload()
        },1500)
        }
    })
    .catch(error => {
        console.log(error)
    })
}


// Add an event listener to the select element
const cancelReasonSelect = document.getElementById('cancelReason');

cancelReasonSelect.addEventListener('change', async (event) => {
    const selectedReason = event.target.value;

    // Update the UI to display the selected reason
    const selectedReasonElement = document.getElementById('selectedCancelReason');
    selectedReasonElement.textContent = selectedReason;

    // Send the selected reason to the backend for storage using Axios
    try {
        const response = await axios.post('/saveCancelReason', {
            cancelReason: selectedReason
        });
        console.log('Cancel reason saved successfully');
    } catch (error) {
        console.error('Failed to save cancel reason:', error);
    }
});




function getInvoice(orderId,productId){
    const data={orderId,productId};

    axios.post('/getInvoice',data, { responseType: 'blob' })
    .then(response=>{
        console.log(response)
        const url=window.URL.createObjectURL(new Blob([response.data]));
        const link=document.createElement('a');
        console.log('url',url)
        console.log('link',link)
        link.href=url;
        link.setAttribute('download','order_summary.pdf');
        document.body.appendChild(link);
        link.click();
    }).catch(error=>{
        console.log('here also have errors',error)
    })
}

</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    
      <script>
      
       function showAddAddressModal() {
    const modal = document.getElementById('addAddressModal');
    modal.style.display = 'block';
    isFormVisible = true;
}

function closeAddAddressModal() {
    const modal = document.getElementById('addAddressModal');
    modal.style.display = 'none';
    isFormVisible = false;
}
      
    function showProfileDetails() {
        hideAllSections();
        document.getElementById('profileDetails').style.display = 'block';
        setActiveLink(0);
    }

    function showOrderDetails() {
        hideAllSections();
        document.getElementById('orderDetails').style.display = 'block';
        setActiveLink(1);
    }

    function showAddressBook() {
        hideAllSections();
        document.getElementById('addressBook').style.display = 'block';
        setActiveLink(2);
    }

    function hideAllSections() {
        document.getElementById('orderDetails').style.display = 'none';
        document.getElementById('profileDetails').style.display = 'none';
        document.getElementById('addressBook').style.display = 'none';
    }

    function setActiveLink(index) {
        document.querySelector('.list-group-item.active').classList.remove('active');
        document.querySelectorAll('.list-group-item')[index].classList.add('active');
    }

    showProfileDetails();
</script>
    

<!-- JS
============================================ -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


<!-- jQuery JS -->
<script src="/assets/js/vendor/jquery-v3.4.1.min.js"></script>
<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>

</body>


</html>