<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2024 06:11:30 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pack Perks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        .product-img {
            position: relative;
        }
        .error-message {
            position: absolute;
            top: 180px;
            left: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
            padding: 5px 0;
            font-weight: bold;
            z-index: 1;
        }
        .pagination {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        .pagination li {
            margin: 0 5px;
            display: inline-block;
        }

        .pagination a {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #f0f0f0;
            text-align: center;
            line-height: 30px;
            text-decoration: none;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .pagination a.active {
            background-color: #333;
            color: #fff;
        }
        .pagination .prev,
        .pagination .next {
            width: auto; 
            padding: 0 10px;
        }
        .pagination .prev i,
        .pagination .next i {
            margin-top: 5px;
        }

        
    </style>
</head>

<body>
<header class="header-area header-in-container clearfix">
    <div class="header-top-area">
        <div class="container">
            <div class="header-top-wap">
                <div class="language-currency-wrap">
                    <div class="same-language-currency language-style">
                        <a href="#">English <i class="fa fa-angle-down"></i></a>
                        <div class="lang-car-dropdown">
                            <ul>
                                <li><a href="#">Arabic </a></li>
                                <li><a href="#">Bangla </a></li>
                                <li><a href="#">Hindi  </a></li>
                                <li><a href="#">Spanish </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="same-language-currency use-style">
                        <a href="#">USD  <i class="fa fa-angle-down"></i></a>
                        <div class="lang-car-dropdown">
                            <ul>
                                <li><a href="#">Taka (BDT) </a></li>
                                <li><a href="#">Riyal (SAR) </a></li>
                                <li><a href="#">Rupee (INR)  </a></li>
                                <li><a href="#">Dirham (AED) </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="same-language-currency">
                        <p>Call Us 3965410</p>
                    </div>
                </div>
                <div class="header-offer">
                    <p>Free delivery on order over <span>$200</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar header-res-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="index.html">
                            <!-- <img alt="" src="assets/img/logo/logo.png"> -->
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="/">Home <i class=""></i></a>
                                   
                                </li>
                                <li><a href="shop.html"> Shop <i class=""></i> </a>
                                    
                                </li>
                                <!-- <li><a href="shop.html">Collection</a></li> -->
                                <li><a href="#"> Pages <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="about.html">about us</a></li>
                                        <li><a href="/cart">cart page</a></li>
                                        <li><a href="/checkOutPage">checkout </a></li>
                                        <li><a href="/wishlist">wishlist </a></li>
                                        <li><a href="/profile">my account</a></li>
                                        <li><a href="login-register.html">login / register </a></li>
                                        <li><a href="contact.html">contact us </a></li>
                                        <li><a href="404.html">404 page </a></li>
                                    </ul>
                                </li>
                              
                                </li>
                                <li><a href="about.html"> About </a></li>
                                <li><a href="contact.html"> Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                       <div class="header-right-wrap">
                        <div class="same-style header-search">
                            <a class="search-active" href="#"><i class="pe-7s-search"></i></a>
                            <div class="search-content">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button class="button-search"><i class="pe-7s-search"></i></button>
                                </form>
                            </div> 
                        </div>
                        <div class="same-style account-satting">
                            <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
                            <div class="account-dropdown">
                                <ul>
                                    <li><a href="login-register.html">Login</a></li>
                                    <li><a href="login-register.html">Register</a></li>
                                    <li><a href="wishlist.html">Wishlist  </a></li>
                                    <li><a href="my-account.html">my account</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="same-style header-wishlist">
                            <a href="/wishlist"><i class="pe-7s-like"></i></a>
                        </div>
                        <div class="same-style cart-wrap">
                          <a href="/cart">  <button class="icon-cart">
                                <i class="pe-7s-shopbag"></i>
                                <!-- <span class="count-style">02</span> -->
                            </button></a>
                            <div class="shopping-cart-content">
                                <!-- <ul>
                                    <li class="single-shopping-cart">
                                        <div class="shopping-cart-img">
                                            <a href="#"><img alt="" src="assets/img/cart/cart-1.png"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="#">T- Shart & Jeans </a></h4>
                                            <h6>Qty: 02</h6>
                                            <span>$260.00</span>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fa fa-times-circle"></i></a>
                                        </div>
                                    </li>
                                    <li class="single-shopping-cart">
                                        <div class="shopping-cart-img">
                                            <a href="#"><img alt="" src="assets/img/cart/cart-2.png"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="#">T- Shart & Jeans </a></h4>
                                            <h6>Qty: 02</h6>
                                            <span>$260.00</span>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fa fa-times-circle"></i></a>
                                        </div>
                                    </li>
                                </ul> -->
                                <!-- <div class="shopping-cart-total">
                                    <h4>Shipping : <span>$20.00</span></h4>
                                    <h4>Total : <span class="shop-total">$260.00</span></h4>
                                </div> -->
                                <!-- <div class="shopping-cart-btn btn-hover text-center">
                                    <a class="default-btn" href="/cart">view cart</a>
                                    <a class="default-btn" href="checkout.html">checkout</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="/">HOME</a>
                                
                                    </li>
                                 
                            <li><a href="/shop">Shop</a>
                                
                            </li>
                            <li><a href="shop.html">Collection</a></li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="about.html">about us</a></li>
                                    <li><a href="cart-page.html">cart page</a></li>
                                    <li><a href="checkout.html">checkout </a></li>
                                    <li><a href="wishlist.html">wishlist </a></li>
                                    <li><a href="my-account.html">my account</a></li>
                                    <li><a href="login-register.html">login / register </a></li>
                                    <li><a href="contact.html">contact us </a></li>
                                    <li><a href="404.html">404 page </a></li>
                                </ul>
                            </li>
                            
                            <li><a href="about.html">About us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Shop </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-95 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-top-bar">
                    <div class="select-shoing-wrap">
                        <!-- <div class="shop-select">
                            <select>
                                <option value="">Sort by newness</option>
                                <option value="">A to Z</option>
                                <option value=""> Z to A</option>
                                <option value="">In stock</option>
                            </select>
                        </div> -->
                        <p id="productRange"></p>
                    </div>
                    <div class="shop-tab nav">
                        <a class="active" href="#shop-1" data-toggle="tab">
                            <!-- <i class="fa fa-table"></i> -->
                        </a>
                        <div class="categoryFilter" id="filterCategory" style="cursor: pointer;">
                            <div style="display: flex; flex-direction: column;">
                                <select name="categoryFilter" id="categoryFilter">
                                    <option value="" disabled selected>Select a category</option>
                                    <% categoryName.forEach(category => { %>
                                        <option value="<%= category %>" class="category-link"><%= category %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        
                        
                        <a href="#shop-2" data-toggle="tab">
                            <!-- <i class="fa fa-list-ul"></i> -->
                        </a>
                    </div>
                   
                </div>
                <div class="shop-bottom-area mt-35">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">

                            <div class="row" id="productDisplay">
                                <%products.forEach(product=>{%>

                                
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6 product-category" data-brand="<%=product.brand%>"   data-category="<%=product.categoryName%>" >
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="/singleProduct/<%=product._id%>">
                                                <img class="default-img <%= product.isDisabled ? 'disabled' : '' %> " src="<%=product.productImage[0]%>" alt="">
                                                <img class="hover-img" src="<%=product.productImage[1]%>" alt="">
                                            </a>
                                            <% if (product.isDisabled) { %>
                                                <div class="error-message">Out of Stock</div>
                                            <% } %>
                                            <div class="product-action">
                                                <div class="">
                                                </div>
                                                <div class="">
                                                </div>
                                                <div class="">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="product-content text-center">
                                            <h3><a href="/singleProduct/<%=product._id%>"><%=product.productName%></a></h3>
                                            
                                            <div class="product-price">
                                                <span>₹: <%=product.productPrice%></span>
                                            </div>

                                            <div id="wishlist_<%=product._id%>" class="pro-details-wishlist">
                                                <button onclick="toggleWishlist('<%=product._id%>')" id="wishlist-<%=product._id%>" style="border: none; background-color: white;">
                                                    <% if (user && user.wishlist.some( prd => prd.productId.toString() === product._id.toString() ))  { %>
                                                        <i id="red_heart_<%=product._id%>" class="fa fa-heart fa-2x" style="color: red;"></i>
                                                    <% } else { %>
                                                        <i id="plain_heart_<%=product._id%>" class="fa fa-heart-o fa-2x"></i>
                                                    <% } %>
                                                </button>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            <%})%>


                     </div>
                      </div>

                     
                        
                    </div>
                    <div class="pro-pagination-style text-center mt-30" style="position: absolute; left: 35%;">
                        <ul class="pagination" id="pagination">
                            <li class="page-item"><a class="page-link prev" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <!-- Page links will be added dynamically here -->
                            <li class="page-item"><a class="page-link next" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>


            <script>
            const productsIn = document.querySelectorAll('.product-category');
            const itemsPerPage = 9;
            let currentPage = 1;
            let totalProducts=productsIn.length

            function updateProductRange() {
            const startIndex = (currentPage - 1) * itemsPerPage + 1;
            let endIndex = startIndex + itemsPerPage - 1;
            endIndex = endIndex > totalProducts ? totalProducts : endIndex;
            // document.getElementById('productRange').innerText = `Showing ${startIndex}-${endIndex} of ${totalProducts} result`;
        }


            function displayPage(page) {
                const startIndex = (page - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;
                productsIn.forEach((product, index) => {
                    if (index >= startIndex && index < endIndex) {
                        product.style.display = 'block';
                    } else {
                        product.style.display = 'none';
                    }
                });
            }

            function setupPagination() {
                const totalPages = Math.ceil(productsIn.length / itemsPerPage);
                const paginationElement = document.getElementById('pagination');
                let html = '';

                html += `<li class="page-item"><a class="page-link prev" href="#"><i class="fa fa-angle-left"></i></a></li>`;

                for (let i = 1; i <= totalPages; i++) {
                    html += `<li class="page-item"><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
                }

                html += `<li class="page-item"><a class="page-link next" href="#"><i class="fa fa-angle-right"></i></a></li>`;

                paginationElement.innerHTML = html;

                const pageLinks = document.querySelectorAll('.page-link');
                pageLinks.forEach((link) => {
                    link.addEventListener('click', (e) => {
                        e.preventDefault();
                        if (link.classList.contains('prev')) {
                            currentPage = currentPage > 1 ? currentPage - 1 : 1;
                        } else if (link.classList.contains('next')) {
                            currentPage = currentPage < totalPages ? currentPage + 1 : totalPages;
                        } else {
                            currentPage = parseInt(e.target.getAttribute('data-page'));
                        }
                        displayPage(currentPage);
                    });
                });
            }

            // Initial setup
            updateProductRange()
            displayPage(currentPage);
            setupPagination();



              //-------------//wish list prt------------------------//
            
                function toggleWishlist(productId, user) {                                
                        // Product is already in the wishlist, so remove it
                        axios.post(`/addWishlist/${productId}`)
                            .then(response => {
                                console.log(response);
                                if (response.status == 201) {
                                    document.getElementById(`wishlist-${productId}`).innerHTML =` <i id="plain_heart_${productId}" class="fa fa-heart-o fa-2x"></i>`
                                    Toastify({
                                        text: 'Product removed from wishlist',
                                        duration: 3000,
                                        gravity: 'top',
                                        position: 'center',
                                        backgroundColor: 'red'
                                    }).showToast();
                                }
                                else if(response.status == 200){
                                    document.getElementById(`wishlist-${productId}`).innerHTML = `<i id="red_heart_${productId}" class="fa fa-heart fa-2x" style="color: red;"></i>`
                                    Toastify({
                                        text: 'Product added to wishlist',
                                        duration: 3000,
                                        gravity: 'top',
                                        position: 'center',
                                        backgroundColor: 'darkGrey'
                                    }).showToast();
                                }

                            })
                            .catch(error => {
                                console.error('Failed to remove product from wishlist:', error);
                            });
                }
                

                // filtering based on the category


                const categoryFilter = document.getElementById('categoryFilter');
                const products = document.querySelectorAll('.product-category');

                function showAllProducts() {
                    products.forEach(product => {
                        product.style.display = 'block';
                    });
                }

                categoryFilter.addEventListener('change', function() {
                    const selectedCategory = this.value;
                    products.forEach(product => {
                        const category = product.getAttribute('data-category');
                        if (selectedCategory === '' || selectedCategory === category) {
                            product.style.display = 'block';
                        } else {
                            product.style.display = 'none';
                        }
                    });
                });
                        </script>

            <div class="col-lg-3">
                <div class="sidebar-style mr-30">
                    <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Search </h4>
                        <div class="pro-sidebar-search mb-50 mt-25">
                            <form class="pro-sidebar-search-form"  id="searchForm" action="/search" method="get">
                                <input type="text" id="searchInput" name="inputValue" placeholder="Search here...">
                                <button type="submit" id="searchButton">
                                    <i class="pe-7s-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    
                    
                    <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Refine By </h4>
                        <div class="sidebar-widget-list mt-30">
                            <select name="refineBy" id="refineBy" onchange="handleSortChange()">
                                <option  selected disabled value="select">select</option>
                                <option value="priceLowToHigh">price low high</option>
                                <option value="priceLowToHigh">price high low</option>
                                <option value="priceLowToHigh">A to Z</option>
                                <option value="priceLowToHigh">Z to A</option>
                            </select>
                            <!-- <ul>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="radio"> <a href="#">Price low to high </a> 
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="radio" value=""> <a href="#">A to Z</a> 
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="radio" value=""> <a href="#">Z to A </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                            </ul> -->
                        </div>
                    </div>




                    <!-- <div class="sidebar-widget mt-45">
                        <h4 class="pro-sidebar-title">Filter By Price </h4>
                        <div class="price-filter mt-10">
                            <div class="price-slider-amount">
                                <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                            </div>
                            <div id="slider-range"></div>
                        </div>
                    </div> -->
                    <!-- <div class="sidebar-widget mt-50">
                        <h4 class="pro-sidebar-title">Colour </h4>
                        <div class="sidebar-widget-list mt-20">
                            <ul>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Green <span>4</span> </a>
                                        <span class="checkmark"></span> 
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Cream <span>4</span> </a>
                                        <span class="checkmark"></span> 
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Blue <span>4</span> </a>
                                        <span class="checkmark"></span> 
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Black <span>4</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="sidebar-widget mt-40">
                        <h4 class="pro-sidebar-title">brand </h4>
                        <div class="sidebar-widget-list mt-20">
                            <select name="brandFilter" id="brandFilter">
                                <option value="" disabled selected>Select a brand</option>
                                <% brands.forEach(brand => { %>
                                    <option value="<%= brand %>" class="category-link"><%= brand %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>

                    <script>


                        function handleSortChange(){
                            const selectedOption=document.getElementById('refineBy').value;
                            window.location.href=`/sortedProducts?sortBy=${selectedOption}`;
                        }







                        document.getElementById('brandFilter').addEventListener('change', function() {
                            var selectedBrand = this.value; 
                    
                            document.querySelectorAll('.product-category').forEach(function(product) {
                                var productBrand = product.getAttribute('data-brand');
                                if (selectedBrand === '' || productBrand === selectedBrand) {
                                    product.style.display = 'block';
                                } else {
                                    product.style.display = 'none';
                                }
                            });
                        });
                    </script>
                    
                    
                            <!-- <ul>
                                <li>
                                    <% brands.forEach(brand=>{%>

                                   
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#"><%=brand%></a>
                                        <span class="checkmark"></span> 
                                    </div>
                                    <% })%>
                                </li>
                               
                            </ul> -->
                       
                    <!-- <div class="sidebar-widget mt-50">
                        <h4 class="pro-sidebar-title">Tag </h4>
                        <div class="sidebar-widget-tag mt-25">
                            <ul>
                                <li><a href="#">Clothing</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">For Men</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Fashion</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('searchButton').addEventListener('click',function(event){
        event.preventDefault()
        const inputValue=document.getElementById('searchInput').value;

        axios.get(`/search/${inputValue}`)
        .then(response=>{
            console.log(response);
            displayProducts(response.data)
            document.getElementById('searchInput').value;
        }).catch(error=>{
            console.error(error);
        });
    });
    function displayProducts(data) {
    const { productsSearch, user } = data;
    const productDisplay = document.getElementById('productDisplay');
    productDisplay.innerHTML = '';

    if(productsSearch.length===0){
        productDisplay.innerHTML='<h2>sorry no result found</h2>';
        return;
    }
    let productHTML = '';
    productsSearch.forEach(product => {
        productHTML += `
            <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                <div class="product-wrap mb-25 scroll-zoom">
                    <div class="product-img">
                        <a href="/singleProduct/${product._id}">
                            <img class="default-img ${product.isDisabled ? 'disabled' : ''}" src="${product.productImage[0]}" alt="">
                            <img class="hover-img" src="${product.productImage[1]}" alt="">
                        </a>
                        ${product.isDisabled ? '<div class="error-message">Out of Stock</div>' : ''}
                        <div class="product-action">
                            <div class=""></div>
                            <div class=""></div>
                            <div class=""></div>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <h3><a href="/singleProduct/${product._id}">${product.productName}</a></h3>
                        <div class="product-price">
                            <span>₹: ${product.productPrice}</span>
                        </div>
                        <div id="wishlist_${product._id}" class="pro-details-wishlist">
                            <button onclick="toggleWishlist('${product._id}')" id="wishlist-${product._id}" style="border: none; background-color: white;">
                                ${user && user.wishlist.some(prd => prd.productId.toString() === product._id.toString()) ?
                                    '<i class="fa fa-heart fa-2x" style="color: red;"></i>' :
                                    '<i class="fa fa-heart-o fa-2x"></i>'
                                }
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        `;
    });
    productDisplay.innerHTML += productHTML;
}


</script>


<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <!-- <img alt="" src="assets/img/logo/logo.png"> -->
                        </a>
                    </div>
                    <p>© 2020 <a href="#">Flone</a>.<br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>ABOUT US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Orders tracking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>USEFUL LINKS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                    <div class="footer-title">
                        <h3>SUBSCRIBE</h3>
                    </div>
                    <div class="subscribe-style">
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email here.." name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="assets/img/product/quickview-l1.jpg" alt="">
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l3.jpg" alt="">
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active owl-carousel nav nav-style-1" role="tablist">
                                <a class="active" data-toggle="tab" href="#pro-1"><img src="assets/img/product/quickview-s1.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-2"><img src="assets/img/product/quickview-s2.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-3"><img src="assets/img/product/quickview-s3.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-4"><img src="assets/img/product/quickview-s2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2>Products Name Here</h2>
                            <div class="product-details-price">
                                <span>$18.00 </span>
                                <span class="old">$20.00 </span>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="pro-details-rating">
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <span>3 Reviews</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
                            <div class="pro-details-list">
                                <ul>
                                    <li>- 0.5 mm Dail</li>
                                    <li>- Inspired vector icons</li>
                                    <li>- Very modern style  </li>
                                </ul>
                            </div>
                            <div class="pro-details-size-color">
                                <div class="pro-details-color-wrap">
                                    <span>Color</span>
                                    <div class="pro-details-color-content">
                                        <ul>
                                            <li class="blue"></li>
                                            <li class="maroon active"></li>
                                            <li class="gray"></li>
                                            <li class="green"></li>
                                            <li class="yellow"></li>
                                            <li class="white"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pro-details-size">
                                    <span>Size</span>
                                    <div class="pro-details-size-content">
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                </div>
                                <div class="pro-details-cart btn-hover">
                                    <a href="#">Add To Cart</a>
                                </div>
                                <div class="pro-details-wishlist">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                </div>
                                <div class="pro-details-compare">
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="pro-details-meta">
                                <span>Categories :</span>
                                <ul>
                                    <li><a href="#">Minimal,</a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-meta">
                                <span>Tag :</span>
                                <ul>
                                    <li><a href="#">Fashion, </a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                